@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: 'Mukta', sans-serif;
}

/*********** Video Background ***********/
.video-background {
  width: 100vw;
  height:100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit:cover;
}

/* Main Container */
.container {
  min-width: 580px;  /* so the width will be fixed when content change */
  min-height: 335px; /* so the height will be fixed when content change */
  color: black;
  margin: 0 auto;
  padding: 50px 50px 75px;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

/*********** input view and gerneral setting**********/
.input-container {
  position: relative;
  top: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

/* Form */
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: 10px;
  font-weight: 300;
  font-size:1.2rem;
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: 'Mukta', sans-serif;
}

/* Button */
button {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 25px;
  border: none;
  text-transform: uppercase;
  background: #004869;
  color: white;
  cursor: pointer;
  outline: none;
  transition: filter 0.2s;
}

button:hover{
  filter: brightness(130%);
}

button:active{
  filter: brightness(90%);
}


/******** Countdown View **********/
ul {
  margin-left: -45px;
}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight:300;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
  font-weight: 600;
}

/************ Complete View ***********/
.complete {
  position: relative;
  top: 60px;
}

h2{
  font-size: 1.75rem;
}

.complete-title{
  margin-bottom: 50px;
  animation: complete 4s infinite;
  font-weight:600;
}

@keyframes complete{
  0% {
    color:rgb(96, 46, 161);
  }
  25% {
    color:rgb(21, 105, 202);
  }
  50% {
    color:rgb(33, 160, 122);
    transform:scale(1.5);
  }
  75% {
    color:rgb(21, 105, 202);
  }
  100% {
    color:rgb(96, 46, 161);
  }

}

/****************************************************/
/***** Media Query: Large Smartphone (Vertical) *****/
/****************************************************/

@media screen and (max-width: 600px) {
  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px 20px 40px;
    margin: 10px;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  h1 {
    font-size: 1.75rem;
  }

  li {
    font-size: 1rem;
  }

  li span {
    font-size: 3rem;
  }
}
